name: Build and Test
on:
  pull_request:
  push:
    paths-ignore:
      - README.md
      - .gitignore
      - doc
      - docs

jobs:
  build-and-test:

    # See https://wildwolf.name/github-actions-how-to-avoid-running-the-same-workflow-multiple-times/
    if: (! contains(github.event.head_commit.message, '[skip ci]')                   &&
                  ((github.event_name                             != 'pull_request') ||
                   (github.event.pull_request.head.repo.full_name !=
                    github.event.pull_request.base.repo.full_name))
        )

    runs-on: ${{ matrix.os }}
    #continue-on-error: ${{ matrix.allow-fail }}
    #continue-on-error: ${{ matrix.devshell == 'gcc' }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, macos-12]
        py: [311]
        devshell: [ clang, gcc ]
        #allow-fail: [false]

        exclude:
          - os: macos-12
            devshell: gcc

    steps:
      - uses: actions/checkout@v3.5.3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: cachix/install-nix-action@v22
        with:
          nix_path: nixpkgs=channel:nixos-23.05
          extra_nix_config: |
            experimental-features = nix-command flakes
      - uses: cachix/cachix-action@v12
        with:
          name: nain4 # The name of the Cachix cache
          # If you chose signing key for write access
          #signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
          # If you chose API tokens for write access OR if you have a private cache
          authToken: '${{ secrets.CACHIX_JACG_NAIN4 }}'

      - name: Build nix development environment
        run: nix develop

      - name: Build project code
        run: nix develop .#${{ matrix.devshell }} -c just build | tee compilation-log

      - name: Count warnings
        run: bash scripts/count-warnings.sh compilation-log 0 do-not-fail-here

      - name: Run test suite
        run: nix develop .#${{ matrix.devshell }} -c just test

      - name: Test run in dev environment
        run: |
          nix develop .# -c just run --beam-on 12 | tee build-and-run-in-devenv-output
          PATTERN="end of event 12"
          echo Looking for "'$PATTERN'" in output of 'just'
          grep "$PATTERN" build-and-run-in-devenv-output

      - name: Test nix build default package
        run: |
          nix build ./#

      - name: Test run nix build client package result
        run: |
          nix develop .# -c result/bin/CHANGEME-EXE --beam-on 12 | tee build-and-run-client-package-output
          PATTERN="end of event 12"
          echo Looking for "'$PATTERN'" in output of 'just'
          grep "$PATTERN" build-and-run-client-package-output
        continue-on-error: true # see issue # https://github.com/jacg/nain4/issues/161

      - name: Test variables set by nain4 setupHook
        run: |
          nix develop ./# -c env > my-project-env
          echo ====== grepping for G4_DIR ====================
          grep G4_DIR my-project-env
          echo ===============================================
          echo grepping for QT_QPA_PLATFORM_PLUGIN_PATH
          grep QT_QPA_PLATFORM_PLUGIN_PATH my-project-env
          echo ===============================================

      - name: Fail if too many warnings
        run: bash scripts/count-warnings.sh compilation-log 0 fail
